@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%
}
 .lst-kix_dy6cg9iwc2z0-7 > li:before {
    content: "\0025cb   "
}

.lst-kix_cg7mppohj36k-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_cg7mppohj36k-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_cg7mppohj36k-7 > li:before {
    content: "\0025cb   "
}

.lst-kix_dy6cg9iwc2z0-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_cg7mppohj36k-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_cg7mppohj36k-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_dy6cg9iwc2z0-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_dy6cg9iwc2z0-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_dy6cg9iwc2z0-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_dy6cg9iwc2z0-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_dy6cg9iwc2z0-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_dy6cg9iwc2z0-0 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_dy6cg9iwc2z0-7 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-6 {
    list-style-type: none
}

.lst-kix_6iageiwv7wcp-8 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_dy6cg9iwc2z0-8 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-3 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-2 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-5 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-4 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-1 {
    list-style-type: none
}

ul.lst-kix_dy6cg9iwc2z0-0 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-8 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-6 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-7 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-4 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-5 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-2 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-3 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-0 {
    list-style-type: none
}

ul.lst-kix_cg7mppohj36k-1 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-6 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-7 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-4 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-5 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-2 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-3 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-0 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-1 {
    list-style-type: none
}

ul.lst-kix_6iageiwv7wcp-8 {
    list-style-type: none
}

.lst-kix_6iageiwv7wcp-7 > li:before {
    content: "\0025cb   "
}

.lst-kix_6iageiwv7wcp-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_6iageiwv7wcp-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_6iageiwv7wcp-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_6iageiwv7wcp-3 > li:before {
    content: "\0025cf   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}
br {
    content: "";
    display: block;
    margin: 10px 0;
}
.lst-kix_6iageiwv7wcp-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_6iageiwv7wcp-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_cg7mppohj36k-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_6iageiwv7wcp-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_cg7mppohj36k-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_cg7mppohj36k-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_cg7mppohj36k-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_dy6cg9iwc2z0-8 > li:before {
    content: "\0025a0   "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c2 {
    color: #464646;
    margin-left: 36pt;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c1 {
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c17 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c20 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c10 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c19 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c0 {
    color: #464646;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c15 {
    color: #0b5394;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c13 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c12 {
    color: #246170;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c9 {
    color: #464646;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c22 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c21 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 36pt 72pt 36pt 72pt
}

.c7 {
    color: #464646;
    padding: 0;
    margin: 0
}

.c3 {
    color: inherit;
    text-decoration: inherit
}

.c14 {
    font-size: 16pt;
    color: #0b5394
}

.c16 {
    color: #0b5394
}

.c18 {
    height: 11pt
}

.c6 {
    font-weight: 700
}

.c11 {
    color: #000000
}

.title {
    padding-top: 0;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}